.search {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 4.5rem;
  max-width: 600px;
  background-color: #222433;
  border-radius: 4rem;
  padding: 0.5rem 2rem;
  transition: box-shadow 0.3s ease;
}

.search span {
  font-size: 1.8rem;
}
.search input {
  background: transparent;
  border: none;
  outline: none;
  color: #d3d3d3;
  font-family: "Poppins", sans-serif;
}
.search input::placeholder {
  color: #948f8f;
}
